<div id="app-c">
  <header class="container">
    <div class="row header">
      <div class="col s12 m8">
        <img src="WaypointsLogo.png" alt="Logo" />
      </div>
      <div class="col s12 m4 valign-wrapper header--utils">
        <div class="header--utils--login">
          <a href="#" class="chip teal lighten-1 white-text">Login</a>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="divider teal lighten-1"></div>

    <div class="row section">
      <div id="sidebar" class="col s12 m3">
        <tag-component></tag-component>
      </div>

      <div id="content" class="col s12 m9">
        <waypoints-component></waypoints-component>
      </div>
    </div>
  </div>

</div>
