<div>
  <div class="row">
    <div class="col s12">
      <input type="text" id="tagFilter" name="tagFilter" v-model="tagFilter" placeholder="Filter Tags..." />
    </div>
  </div>

  <div class="row">
    <div class="col s12" id="tagList">
      <div class="waypoints--loading" v-if="filteredTags.length === 0">
        <loading-component message="Fetching Tags..."></loading-component>
      </div>
      <div class="collection" v-if="filteredTags.length > 0">
        <tag-list v-for="tag in filteredTags" :key="tag.id" :tag="tag"></tag-list>
      </div>
    </div>
  </div>
</div>

